@{
    PageData["title"] = "Take A Class";
}
<h1>Take A Class</h1>
<div ng-controller="HomeCtrl">

    <ul>
        <li ng-repeat="ScheduledClass in ScheduledClasses">
            {{ScheduledClass.ClassName}}
            <br>{{formatClassDate(ScheduledClass.ClassDate)}}
            <br>{{ScheduledClass.Instructor}}
        </li>
    </ul>

</div>
